tr {
    background-color: #ffffff;
    border: 1px #cccccc;
}

tr #title {
    font-size: 13px;
    color: #333333;
} 

tr #autor {
    font-size: 10px;
    color: #999999;
}

tr :hover {
    background-color: #fafafa;
}